* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/back2.JPG");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

.title {
  color: #ffffffff;
  margin: 10vh auto;
  font-size: calc(5vw + 20px);
  text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

.container {
  width: 90vw;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.contador {
  font-size: 25px;
  color: #ffffff;
  padding: 20px;
  margin-top: 0px;
  border-radius: 5px;
}

.key {
  display: flex;
  width: 100px;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: calc(3vw + 20px);
  border: 3px solid rgb(0, 0, 0);
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s;
  border-radius: 15px;
}

.key:hover {
  background: linear-gradient(black, rgb(124, 240, 159));
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}

.active {
  transform: scale(1.3);
  border-color: rgb(32, 172, 32);
  box-shadow: 0 0 50px rgb(32, 211, 26);
}

.footer {
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: calc(1vw + 1px);
}
